li.lcb-message
	if !fragment 
		//img.lcb-message-avatar.lcb-avatar.lcb-room-poke(src="https://www.gravatar.com/avatar/#{owner.avatar}?s=30")
		div.lcb-initial A
	.lcb-message-meta
		if !fragment 
			div.lcb-message-name
				div.lcb-room-poke
					span.lcb-message-displayname #{owner.displayName}
					time.lcb-message-time #{time}
		if !paste
			.lcb-message-text #{text}
		else
			.lcb-message-text
				pre #{text}
