li.atl-list-item.list-group-item.vc_id(id="#{vc_id}")
	img.atl-avatar.avatar(src= "#{avatar}")
	.atl-user-meta(style="display:inline")
		.atl-user-meta-header
			span.atl-username.displayName #{displayName} 
			time.atl-join-time.time #{time}
		.atl-user-meta-others
			span.atl-useremail.email #{email}
			span.atl-authvia.authvia   via: #{authvia}
	include controlbar
